<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header404}}
        <p> We are not able to find resource you are looking for. </p>
    </div>
    {{>footer404}}
</body>

</html>